// Typography
$font-family-base: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-sub:  'Droid Serif', serif;

$font-size-base:   18px;
$line-height-base: 1.5;

$font-size-mobile: 14px;

$font-weight-base-normal: 600;
$font-weight-base-bold:   700;

$font-weight-sub-normal:  400;
$font-weight-sub-bold:    700;

$font-size-small: 0.85rem;

$spacing-unit: 1em;

// Color Scheme
$text-color:            #fff;
$text-color-light:      rgba($text-color, 0.4);
$title-color:           #0dccd1;

$background-color:      #3b3056;

$brand-color-base:      #f76067;
$brand-color-sub:       #0dccd1;

$white-color:           #fff;

$grey-color:   rgba($text-color, 0.2);
$border-color: rgba($text-color, 0.2);

// Max width of the content area
$content-width: 800px;

// Breakpoints
$reflow-point:  860px;
